In [1]:
# Import pustaka yang dibutuhkan
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd

# Set the path to the specific file you'd like to load from the dataset.
# GANTI "nama_file_anda.csv" DENGAN NAMA FILE YANG BENAR DARI DATASET INI.
file_path = "Crypto_historical_data.csv" # Contoh: Ganti dengan nama file sebenarnya, misalnya 'crypto_prices_data.csv'

# Load the latest version
df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "isaaclopgu/cryptocurrency-historical-prices-top-100-2025",
    file_path,
    # Jika perlu, Anda dapat menambahkan pandas_kwargs di sini.
    # Contoh: pandas_kwargs={"sep": ";"}
)

print("First 5 records:", df.head())

/tmp/ipykernel_34659/135596234.py:11: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

First 5 records:                         Date      Open      High       Low     Close   Volume  \
0  2017-11-09 00:00:00+00:00  0.001207  0.001415  0.001181  0.001415  6259550
1  2017-11-10 00:00:00+00:00  0.001421  0.001431  0.001125  0.001163  4246520
2  2017-11-11 00:00:00+00:00  0.001146  0.001257  0.001141  0.001201  2231080
3  2017-11-12 00:00:00+00:00  0.001189  0.001210  0.001002  0.001038  3288960
4  2017-11-13 00:00:00+00:00  0.001046  0.001212  0.001019  0.001211  2481270

     ticker      name
0  DOGE-USD  Dogecoin
1  DOGE-USD  Dogecoin
2  DOGE-USD  Dogecoin
3  DOGE-USD  Dogecoin
4  DOGE-USD  Dogecoin

# Cleaning Data

In [2]:
# Mengubah kolom 'Date'
df['Date'] = pd.to_datetime(df['Date'], utc=True)
# Menghapus baris yang memiliki nilai NaN pada kolom harga
df_cleaned = df.dropna(subset=['Open', 'High', 'Low'])
# Mengisi nilai NaN (Not a Number) di masing-masing kolom dengan nilai mediannya
columns_to_impute = ['Open', 'High', 'Low']

for col in columns_to_impute:
    # Hitung median kolom saat ini
    median_value = df[col].median()
    
    # Isi nilai NaN dengan median
    df[col].fillna(median_value, inplace=True)

print("Pengisian nilai hilang (NaN) dengan median telah selesai.")

Pengisian nilai hilang (NaN) dengan median telah selesai.

/tmp/ipykernel_34659/2692953089.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/tmp/ipykernel_34659/2692953089.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/tmp/ipykernel_34659/2692953089.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)

In [3]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'ticker', 'name'], dtype='object')

In [4]:
# 1. Buat kondisi filter: cari semua baris di mana kolom 'ticker' adalah 'DOGE-USD'
df_filter = df['ticker'] == 'ZORA-USD'

# 2. Terapkan filter ke DataFrame utama
df_fill = df[df_filter]

# Tampilkan 5 baris pertama dari DataFrame yang sudah difilter
df_fill.head()

,Date,Open,High,Low,Close,Volume,ticker,name
340208,2020-12-02 00:00:00+00:00,366.919617,440.717957,298.083893,360.743591,759363,ZORA-USD,Zora
340209,2020-12-03 00:00:00+00:00,360.735199,485.117767,318.400726,409.797211,640318,ZORA-USD,Zora
340210,2020-12-04 00:00:00+00:00,409.796783,1516.167358,381.293610,742.983032,4378777,ZORA-USD,Zora
340211,2020-12-05 00:00:00+00:00,742.949158,1114.356934,742.949158,892.350098,3320239,ZORA-USD,Zora
340212,2020-12-06 00:00:00+00:00,892.388611,1040.522949,640.958923,916.715637,3456531,ZORA-USD,Zora

In [5]:
# 1. Buat kondisi filter: cari semua baris di mana kolom 'ticker' adalah 'DOGE-USD'
doge_filter = df['ticker'] == 'DOGE-USD'

# 2. Terapkan filter ke DataFrame utama
df_doge = df[doge_filter]

# Tampilkan 5 baris pertama dari DataFrame yang sudah difilter
df_doge.head()

,Date,Open,High,Low,Close,Volume,ticker,name
0,2017-11-09 00:00:00+00:00,0.001207,0.001415,0.001181,0.001415,6259550,DOGE-USD,Dogecoin
1,2017-11-10 00:00:00+00:00,0.001421,0.001431,0.001125,0.001163,4246520,DOGE-USD,Dogecoin
2,2017-11-11 00:00:00+00:00,0.001146,0.001257,0.001141,0.001201,2231080,DOGE-USD,Dogecoin
3,2017-11-12 00:00:00+00:00,0.001189,0.001210,0.001002,0.001038,3288960,DOGE-USD,Dogecoin
4,2017-11-13 00:00:00+00:00,0.001046,0.001212,0.001019,0.001211,2481270,DOGE-USD,Dogecoin

In [6]:

df

,Date,Open,High,Low,Close,Volume,ticker,name
0,2017-11-09 00:00:00+00:00,0.001207,0.001415,0.001181,0.001415,6259550,DOGE-USD,Dogecoin
1,2017-11-10 00:00:00+00:00,0.001421,0.001431,0.001125,0.001163,4246520,DOGE-USD,Dogecoin
2,2017-11-11 00:00:00+00:00,0.001146,0.001257,0.001141,0.001201,2231080,DOGE-USD,Dogecoin
3,2017-11-12 00:00:00+00:00,0.001189,0.001210,0.001002,0.001038,3288960,DOGE-USD,Dogecoin
4,2017-11-13 00:00:00+00:00,0.001046,0.001212,0.001019,0.001211,2481270,DOGE-USD,Dogecoin
...,...,...,...,...,...,...,...,...
343367,2025-10-29 00:00:00+00:00,0.996416,0.997914,0.993625,0.996086,1202741,FRAX-USD,Legacy Frax Dollar
343368,2025-10-30 00:00:00+00:00,0.996086,0.998822,0.993043,0.996663,1809095,FRAX-USD,Legacy Frax Dollar
343369,2025-10-31 00:00:00+00:00,0.996640,0.998573,0.993131,0.993829,203805,FRAX-USD,Legacy Frax Dollar
343370,2025-11-01 00:00:00+00:00,0.993855,0.997801,0.993698,0.995759,71505,FRAX-USD,Legacy Frax Dollar
343371,2025-11-03 00:00:00+00:00,0.996284,0.997116,0.993545,0.995522,643596,FRAX-USD,Legacy Frax Dollar

In [7]:
# Melihat semua jenis koin (ticker) yang ada dalam dataset
df['ticker'].unique()

array(['DOGE-USD', 'STETH-USD', 'TRX-USD', 'BNB-USD', 'SOL-USD',
       'XRP-USD', 'USDC-USD', 'BTC-USD', 'USDT-USD', 'ETH-USD',
       'WSTETH-USD', 'ADA-USD', 'HYPE-USD', 'WEETH-USD', 'WBETH-USD',
       'WBTC-USD', 'BCH-USD', 'LINK-USD', 'XLM-USD', 'USDE-USD',
       'USDS-USD', 'HBAR-USD', 'SUI-USD', 'AVAX-USD', 'LEO-USD',
       'CBBTC-USD', 'ZEC-USD', 'WETH-USD', 'WBT-USD', 'LTC-USD',
       'XMR-USD', 'USDT0-USD', 'TON-USD', 'SUSDE-USD', 'SHIB-USD',
       'DAI-USD', 'CRO-USD', 'DOT-USD', 'M-USD', 'MNT-USD', 'WLFI-USD',
       'USD1-USD', 'PYUSD-USD', 'OKB-USD', 'UNI-USD', 'AAVE-USD',
       'BGB-USD', 'PEPE-USD', 'NEAR-USD', 'ENA-USD', 'BUIDL-USD',
       'JITOSOL-USD', 'ETC-USD', 'JLP-USD', 'ASTER-USD', 'ICP-USD',
       'APT-USD', 'USDF-USD', 'ONDO-USD', 'XAUT-USD', 'USDTB-USD',
       'POL-USD', 'RETH-USD', 'HTX-USD', 'PI-USD', 'WLD-USD', 'KCS-USD',
       'BNSOL-USD', 'ARB-USD', 'HASH-USD', 'GT-USD', 'RSETH-USD',
       'TRUMP-USD', 'LSETH-USD', 'PAXG-USD', 'ALGO-USD', 'BFUSD-USD',
       'OSETH-USD', 'ATOM-USD', 'SYRUPUSDC-USD', 'VET-USD', 'IP-USD',
       'LBTC-USD', 'WBNB-USD', 'KAS-USD', 'SKY-USD', 'JUP-USD',
       'EZETH-USD', 'SEI-USD', 'FLR-USD', 'FIL-USD', 'QNT-USD',
       'MORPHO-USD', 'RENDER-USD', 'NEXO-USD', 'PENGU-USD', 'FDUSD-USD',
       'DASH-USD', 'SOLVBTC-USD', 'USDG-USD', 'VIRTUAL-USD', 'BONK-USD',
       'RLUSD-USD', 'FTN-USD', 'IMX-USD', 'METH-USD', 'JUPSOL-USD',
       'XDC-USD', 'AERO-USD', 'LDO-USD', 'SPX-USD', 'OP-USD', 'OUSG-USD',
       'INJ-USD', 'USDY-USD', 'CAKE-USD', 'STX-USD', 'MSOL-USD',
       'TIA-USD', 'USDX-USD', 'KAIA-USD', 'TBTC-USD', 'FLOKI-USD',
       'USDAI-USD', 'CRV-USD', 'GRT-USD', 'BDX-USD', 'FET-USD', 'XTZ-USD',
       'PYTH-USD', 'USD0-USD', '2Z-USD', 'ETHFI-USD', 'BTC.B-USD',
       'ETHX-USD', 'IOTA-USD', 'CBETH-USD', 'TWT-USD', 'AB-USD',
       'STRK-USD', 'SWETH-USD', 'S-USD', 'WIF-USD', 'CFX-USD', 'XPL-USD',
       'WHYPE-USD', 'SYRUP-USD', 'ENS-USD', 'SAND-USD', 'PENDLE-USD',
       'TUSD-USD', 'SBTC-USD', 'H-USD', 'EETH-USD', 'GALA-USD',
       'THETA-USD', 'JASMY-USD', 'BTT-USD', 'USDD-USD', 'HNT-USD',
       'BSV-USD', 'GHO-USD', 'SUN-USD', 'SAVAX-USD', 'MANA-USD', 'A-USD',
       'ARK-USD', 'RAY-USD', 'USDB-USD', 'FLOW-USD', 'ZK-USD',
       'CMETH-USD', 'ASBNB-USD', 'NFT-USD', 'FRXETH-USD', 'BORG-USD',
       'ATH-USD', 'MYX-USD', 'DEXE-USD', 'SDAI-USD', 'OHM-USD',
       'EIGEN-USD', 'JTO-USD', 'TETH-USD', 'VSN-USD', 'APE-USD',
       'JST-USD', 'NEO-USD', 'UBTC-USD', 'GNO-USD', 'BBSOL-USD',
       'CCD-USD', 'COMP-USD', 'CRVUSD-USD', 'MERL-USD', 'WAL-USD',
       'ZBCN-USD', 'WAVAX-USD', 'BUSD-USD', 'LION-USD', 'FLUID-USD',
       'TIBBIR-USD', 'SNX-USD', 'FARTCOIN-USD', 'DCR-USD', 'RSR-USD',
       'CHZ-USD', 'W-USD', 'APEPE-USD', 'XSOLVBTC-USD', 'RUNE-USD',
       'CUSD-USD', 'ZORA-USD', 'FRAX-USD'], dtype=object)

In [ ]:
df.to_csv('testing.csv', index=False, sep=',', encoding='utf-8')